@import "bourbon";
$image-width: rem(100px); 
$image-height: rem(100px); 

.image-and-text {
    // position: absolute;
    width: $image-width;
    height: $image-height;
    @include display(flex);
    padding: rem(2px);
    
    .image {
        @include flex(0 0 auto);
        width: 100%;
        height: 100%;
    }
    .title {
        @include flex(1 1 auto);
        color: green;
        padding-left: rem(5px);
    }
}
