 @import "bourbon";
 $commenter-image-size: rem(30px);
 
 .comments-section {
    .comment {
        .commenter {

        }

        .position {
            font-size: rem(12px);
            color: darkgray;
        }
    }

    .comment-box {
        border: rem(1px) solid #3f51b5; 
        max-width: rem(600px);
        padding: rem(16px);
        margin: rem(16px);

        .commenter-textfield {
            display: block; 
            max-width: rem(100px);
        }

        .comment-textfield {
            width: 100%;
        }

        .comment-btn {
            display: block;
        }
    }
 }